
@{
    ViewBag.Title = "DatosAdicionales";
}

<h2>Datos Adicionales</h2>

<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-3">
            <label for="agregarImagen">Agregar Foto:</label>
            <input type="text" required class="form-control" id="apellidoNombre">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <label for="agregarDni">Agregar Imagen DNI:</label>
            <input type="text" required class="form-control" id="apellidoNombre">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <label for="agregarFirma">Agregar Firma:</label>
            <input type="text" required class="form-control" id="apellidoNombre">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <button type="button" class="btn btn-success btn-lg btn-block">Confirmar</button>
        </div>
        <div class="col-sm-3">            
            <input type="button" class="btn default btn-lg btn-block" value="Cancelar"  OnClick="location.href='AltaSolicitud'">
        </div>
    </div>
